{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
   function setListener(elemID, gesture, activateFunction) {
     var DOM = document.getElementById(elemID);
     var mc = Hammer(DOM);
     mc.get('pinch').set({ enable: true });
     mc.get('rotate').set({ enable: true });
     mc.on(gesture, activateFunction);
   };
    
   // how to rotate: https://stackoverflow.com/questions/3020904/how-to-rotate-a-div-using-jquery
   var rotation = 0;
   setListener('rotate-box', 'rotate', function(){
   rotation += 5;
    $('#rotate-box').css('transform', 'rotate('+ rotation +'deg)');
   });
   
   //set pinch
   setListener('pinch-box', 'pinch', function(){
    $('#pinch-box').css('transition', 'transform .2s'); // set animation
    $('#pinch-box').css('transform', 'scale(0.5)');
   });
  
   //set press
   setListener('press-box', 'press', function(){
   $('#press-box').css('background', 'black');
   });
   
   //set press up
   setListener('press-box', 'pressup', function(){
   $('#press-box').css('background', '#7ce6df');
   });
    
   //set pan
   var length = 100;
   setListener('pan-box', 'pan', function(){
   length += 5;
    $('#pan-box').css('width', length + 'px');
   });
   
   //set tap
   var zoomLv = 1
   $('#tap-box').css('transition', 'transform .2s'); // set animation
   setListener('tap-box', 'tap', function(){
    zoomLv += 0.3;
    $('#tap-box').css('transform', 'scale('+ zoomLv +')');
   });
    
   //set swipe
   //random color: https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-set-a-random-colour-using-jquery-and-javascript/
   setListener('swipe-box', 'swipe', function(){
   var randomColor = 'rgb('+ (Math.floor(Math.random() * 256)) + ','+ (Math.floor(Math.random() * 256)) + ','+ (Math.floor(Math.random() * 256)) + ')';
   $('#swipe-box').css('background', randomColor);
   });
    
  </script>
</body>
</html>
